# IBM-Capstone-Project
## Description of the Problem and Discussion of the Background

### Introduction Section: 
The police of Denver, Colorado patrolling in the whole city. However, various crimes occurred in any part of the city. Due to the limited number of patrolling cars of the police department, most of the area is not covered by the police cars. Therefore, police need to know those areas, where most crimes have occurred. So that, they can cover most of the area by sending police car. The less crime area can be omitted. 

To understand these, the police needs answers to several questions. The answers to those questions must be supported by data and analytics. These are their questions:

1) How can we find those areas, where the most crimes have occurred?

2) How can we find the most offensive crimes and the area?

3) How can we find the most traffic area?

### Target Audience
The analysis would help any the police department of the city of Denver to predict the place of the crimes and types of the crimes. Moreover, the police can increase/decrease the number of patrolling cars in an area, where it's needed.

### Data Description and Data Sources
Data used in this project is collected from several sources. A brief description of the sources of data are given below:

This dataset includes criminal offenses in the City and County of Denver for the previous five calendar years plus the current year to date. The data is based on the National Incident Based Reporting System (NIBRS) which includes all victims of person crimes and all crimes within an incident. The data is dynamic, which allows for additions, deletions and/or modifications at any time, resulting in more accurate information in the database. Due to continuous data entry, the number of records in subsequent extractions are subject to change. Crime data is updated Monday through Friday. The following image shows an some data from the crimes data:
    
![Some data from the crime dataset](1.png)
    
For more info please check the following link: 

https://www.denvergov.org/opendata/dataset/city-and-county-of-denver-crime
    
Foursquare API to explore venue types surrounding each neighborhood of the city of Denver. The query was made for the number of venues in each category within a 1000m radius around each neighborhood (“Documentation — Foursquare Developer”, 2020).

In [5]:
# importing all neccessary dependencies 
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import numpy as np
import json
import requests
import folium
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns
import re
from sklearn.cluster import KMeans
from pandas.io.json import json_normalize #for tranforming JSON file into a pandas dataframe

In [7]:
#loading crimes data of Denver City.
df=pd.read_csv('crime.csv')
df.head()

,INCIDENT_ID,OFFENSE_ID,OFFENSE_CODE,OFFENSE_CODE_EXTENSION,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,FIRST_OCCURRENCE_DATE,LAST_OCCURRENCE_DATE,REPORTED_DATE,INCIDENT_ADDRESS,GEO_X,GEO_Y,GEO_LON,GEO_LAT,DISTRICT_ID,PRECINCT_ID,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
0,20176005213,20176005213239901,2399,1,theft-bicycle,larceny,6/8/2017 1:15:00 PM,6/8/2017 5:15:00 PM,6/12/2017 8:44:00 AM,1705 17TH ST,3140790.0,1699792.0,-104.999264,39.753669,6,612,union-station,1,0
1,2016461725,2016461725549900,5499,0,traf-other,all-other-crimes,7/21/2016 6:40:00 PM,NaN,7/21/2016 7:09:00 PM,N COLUMBINE ST / E 48TH AVE,3152605.0,1710822.0,-104.957009,39.783762,2,212,elyria-swansea,1,0
2,2017409119,2017409119549900,5499,0,traf-other,all-other-crimes,6/22/2017 5:20:00 PM,NaN,6/22/2017 5:20:00 PM,E COLFAX AVE / N DOWNING ST,3148176.0,1694866.0,-104.973097,39.740032,6,623,capitol-hill,1,0
3,2016829592,2016829592110200,1102,0,sex-aslt-rape,sexual-assault,12/30/2016 11:00:00 PM,12/30/2016 11:45:00 PM,12/31/2016 4:59:00 AM,NaN,NaN,NaN,NaN,NaN,6,611,five-points,1,0
4,2017455505,2017455505544100,5441,0,traffic-accident,traffic-accident,7/10/2017 6:00:00 PM,NaN,7/10/2017 6:45:00 PM,E EVANS AVE / S GRAPE ST,3161788.0,1672521.0,-104.925197,39.678463,3,323,goldsmith,0,1